################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GONOrderingSystems.Common/bin/Debug/netcoreapp1.1
/GONOrderingSystems.Common/obj
/GONOrderingSystems.Logic/bin/Debug/netcoreapp1.1
/GONOrderingSystems.Logic/obj
/GONOrderingSystems.Services.Log/bin/Debug/netcoreapp1.1
/GONOrderingSystems.Services.Log/obj
/GONOrderingSystems.Services.Order/bin/Debug/netcoreapp1.1
/GONOrderingSystems.Services.Order/obj
/GONOrderingSystems.Tests/obj
/obj
/GONOrderingSystems.Api/obj
/GONOrderingSystems.Api/bin/Debug/netcoreapp1.1
/.vs
/GONOrderingSystems.Tests/bin/Debug/netcoreapp1.1
GONOrderingSystems.Tests/bin/Release/netcoreapp1.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
*.dll
GONOrderingSystems.Api/bin/Release/netcoreapp1.1/GONOrderingSystems.Api.deps.json
GONOrderingSystems.Api/bin/Release/netcoreapp1.1/GONOrderingSystems.Api.pdb
GONOrderingSystems.Api/bin/Release/netcoreapp1.1/GONOrderingSystems.Api.runtimeconfig.json
GONOrderingSystems.Api/bin/Release/netcoreapp1.1/GONOrderingSystems.Api.runtimeconfig.dev.json
GONOrderingSystems.Api/bin/Release/netcoreapp1.1/GONOrderingSystems.Common.pdb
GONOrderingSystems.Common/bin/Release/netcoreapp1.1/GONOrderingSystems.Common.deps.json
GONOrderingSystems.Services.Order/bin/Release/netcoreapp1.1/appsettings.json
GONOrderingSystems.Services.Log/bin/Release/netcoreapp1.1/GONOrderingSystems.Services.Log.pdb
GONOrderingSystems.Services.Log/bin/Release/netcoreapp1.1/GONOrderingSystems.Services.Log.runtimeconfig.json
GONOrderingSystems.Services.Order/bin/Release/netcoreapp1.1/GONOrderingSystems.Common.pdb
GONOrderingSystems.Services.Order/bin/Release/netcoreapp1.1/GONOrderingSystems.Services.Order.deps.json
GONOrderingSystems.Tests/bin/Release/netcoreapp1.1/GONOrderingSystems.Api.pdb
GONOrderingSystems.Tests/bin/Release/netcoreapp1.1/GONOrderingSystems.Tests.pdb
GONOrderingSystems.Api/bin/Release/netcoreapp1.1/GONOrderingSystems.Logic.pdb
GONOrderingSystems.Common/bin/Release/netcoreapp1.1/GONOrderingSystems.Common.pdb
*.pdb
GONOrderingSystems.Logic/bin/Release/netcoreapp1.1/GONOrderingSystems.Logic.deps.json
GONOrderingSystems.Services.Log/bin/Release/netcoreapp1.1/appsettings.json
GONOrderingSystems.Services.Log/bin/Release/netcoreapp1.1/GONOrderingSystems.Services.Log.deps.json
GONOrderingSystems.Services.Order/bin/Release/netcoreapp1.1/GONOrderingSystems.Services.Order.runtimeconfig.dev.json
GONOrderingSystems.Tests/bin/Release/netcoreapp1.1/GONOrderingSystems.Tests.deps.json
GONOrderingSystems.Tests/bin/Release/netcoreapp1.1/GONOrderingSystems.Tests.runtimeconfig.dev.json
GONOrderingSystems.Services.Order/bin/Release/netcoreapp1.1/GONOrderingSystems.Services.Order.runtimeconfig.json
GONOrderingSystems.Services.Log/bin/Release/netcoreapp1.1/GONOrderingSystems.Services.Log.runtimeconfig.dev.json
GONOrderingSystems.Tests/bin/Release/netcoreapp1.1/GONOrderingSystems.Tests.runtimeconfig.json
